<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styleAdmin.css" rel="stylesheet" />
</head>
<body>
    <div id="banner" style="top:0px;position:absolute;">HỆ THỐNG QUẢN LÝ THÔNG TIN NHÂN VIÊN</div>
    <div id="menu" style="margin-top:10px;">
        <div>
            <div>
                @Html.ActionLink("GIỚI THIỆU", "../GioiThieu_61133540/GioiThieu_61133540", new { @class = "a" }) &nbsp; | &nbsp;
                @Html.ActionLink("THÊM MỚI", "../SINHVIENs0720_61133540/Create", new { @class = "a" }) &nbsp; | &nbsp;
                @Html.ActionLink("DANH SÁCH", "../SINHVIENs0720_61133540/Index", new { @class = "a" }) &nbsp; | &nbsp;
                @Html.ActionLink("TIỀM KIẾM", "../SINHVIENs0720_61133540/TimKiem_61133540", new { @class = "a" })
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
        <div id="footer">
            Copyright &copy; NGUYỄN KHÁNH DUY @DateTime.Now.Year
        </div>
</body>
</html>
