@model KT0720Duy_61133540.Models.SINHVIEN

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string gtinh = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <hr />
    <table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
        <tr>
            <td>
                <table cellpadding="2" cellspacing="10">
                    <b style="text-align:center">THÔNG TIN CHI TIẾT</b>
                    <tr>
                        <td rowspan="8"><img src="/Images/@Html.DisplayFor(model => model.AnhNV)" width="100" height="100" /></td>
                        <td>Mã sinh viên:</td>
                        <td>@Html.DisplayFor(model => model.MaSV)</td>
                    </tr>
                    <tr>
                        <td>Họ sinh viên:</td>
                        <td>@Html.DisplayFor(model => model.HoSV)</td>
                    </tr>
                    <tr>
                        <td>Tên sinh viên:</td>
                        <td>@Html.DisplayFor(model => model.TenSV)</td>
                    </tr>
                    <tr>
                        <td>Giới tính:</td>
                        <td>
                            @{if (Model.GioiTinh == true)
                                { gtinh = "Nam"; }
                                else
                                { gtinh = "Nữ"; }
                            }
                            @gtinh
                        </td>
                    </tr>
                    <tr>
                        <td>Ngày sinh:</td>
                        <td>@Html.DisplayFor(model => model.NgaySinh)</td>
                    </tr>

                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Html.DisplayFor(model => model.DiaChi)</td>
                    </tr>
                    <tr>
                        <td>Lớp:</td>
                        <td>@Html.DisplayFor(model => model.LOP.TenLop)</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

</body>
</html>
